<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum" />
    <title>Avenue | Welcome</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/adg-logo.png">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="mainCard" id="mainCard1">
        <div class="container mainCardContainer">
            <div class="row" style="padding-top: 28px;">
                <div class="col s12 m3">
                    <img src="/assets/Icon.png" class="responsive-img" alt="">
                </div>

                <div class="col s12 m1 offset-m8 hide-on-small-only">
                    <img src="/assets/home.png" class="responsive-img" alt="">
                </div>
            </div>
            <br>

            <div class="row">
                {{!-- <div class="col s10 m3 redBtn pointer" style="margin: 32px; margin-top: 10px; margin-bottom: 10px;"> --}}
                <div class="col s12 m4 ">
                    <div class="col s12 redBtn pointer plus">
                        <h6 class="incSize"> <img src="/assets/plus.png" alt="" style="width: 21px; display:inline; vertical-align: middle; margin-bottom: 2px;" > <span style="vertical-align: middle; padding-top: 2px;">New Case</span> </h6>
                    </div>
                    
                </div>
                {{!-- <div class="col s10 m3 redBtn pointer active" style="margin: 32px; margin-top: 10px; margin-bottom: 10px;"> --}}
                <div class="col s12 m4 ">
                    <div class="col s12 redBtn pointer active all">
                        <h6 class="incSize"> <img src="/assets/all2.png" alt="" style="width: 21px; display:inline; vertical-align: middle; margin-bottom: 2px;" > <span style="vertical-align: middle; padding-top: 2px;">All Cases</span> </h6>
                    </div>
                </div>
                {{!-- <div class="col s10 m3 redBtn pointer" style="margin: 32px; margin-top: 10px; margin-bottom: 10px;"> --}}
                <div class="col s12 m4 ">
                    <div class="col s12 redBtn pointer pinMain">
                        <h6 class="incSize"> <img src="/assets/pin.png" alt="" style="width: 21px; display:inline; vertical-align: middle; margin-bottom: 2px;" > <span style="vertical-align: middle; padding-top: 2px;">Demographic Data</span> </h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content innerCard">
                            <div class="row">
                                <div class="col s12 m6">
                                    {{!-- <h1 class="step"><b>STEP 1</b></h1> --}}
                                    <h4 class="step "><b>Current Patients</b></h4>
                                    <h5 class="step ">{{success}}</h5>
                                </div>

                                <div class="col m4 offset-m2 hide-on-small-only" style="text-align: right;">
                                    {{!-- <img src="/img/fullicon.webp" class="responsive-img ninety" alt=""> --}}
                                </div>
                            </div>

                            

                            <div class="row">

                                {{#each patData}}
                                
                                <div class="col s12 m4">
                                    <div class="card hoverable">
                                        <div class="card-content cardPad">
                                            <div class="row">
                                                <div class="col s7">
                                                    <p>Name</p>
                                                    <h5 style="color: #686868; margin-top: 2px;">{{this.name}}</h5>
                                                    <p>Detected</p>
                                                    <h5 style="color: #686868; margin-top: 2px; margin-bottom: -2px;">{{this.current_disease.name}}</h5>
                                                </div>
                                                <div class="col s5">
                                                    <img src="{{this.img_url}}" class="responsive-img circle">
                                                </div>
                                            </div>

                                            <hr>
                                            <form action="{{judge}}/review/17" class="sendForm" method="POST">
                                                
                                                    <button id="btn17" style="width:100%; border: 0; background-color: rgba(0,0,0,0);" class="" type="submit" name="action"> <b>VIEW DETAILS</b> </button>
                                                
                                                
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                {{/each}}

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            
        </div>
    </div>
    <div style="display: none;" id="mainId">{{id}}</div>

    <div class="footer">
        <div class="container">
            
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/changeLink.js"></script>
</body>
</html>